* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: #fff;
    overflow-x: hidden;
}



a {
    color: unset;
    text-decoration: none;
}

.main-header--gradiant-dark {

    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(0, 40, 83, 1) 0%, rgba(8, 24, 47, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(0, 40, 83, 1) 0%, rgba(8, 24, 47, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(0, 40, 83, 1) 0%, rgba(8, 24, 47, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08182F', endColorstr='#002853', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(0, 40, 83, 1) 0%, rgba(8, 24, 47, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(0, 40, 83, 1) 0%, rgba(8, 24, 47, 1) 100%);

}

.gradiant--text {
    background: var(--gradiant-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section--padding {
    padding: 4rem 6rem;
}

.section--margin {
    margin: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}